@import 'app/styles/reset.less';

@width: 680px;
@fontSize: 18px;
@fontColor: #4E5860;
@headerColor: #444;
@defaultMargin: 20px;
@backgroundColor: #fefefe;
@borderColor: #000;
@linkColor: #37A4E0;
@hoverLinkColor: lighten(@backgroundColor, 55%);

.border {
  border-color: @borderColor;
  border-style: solid;
} 
body {
  background-color: @backgroundColor;
  font-family: "Georgia";
  font-size: @fontSize;
  color: @fontColor;
  line-height: 1.65;
  font-weight: 400;
}
code, pre {
  margin: 0;
  padding: 0;
}
pre {
  margin: @defaultMargin * 2;
}
code {
  font-size: @fontSize * 0.9;
}

h1 {
  font-size: @fontSize * 2;
}
h2 {
  opacity: 0.9;
  font-weight: 400;
}
h2 {
  font-size: 2.25em;
  margin-top: @defaultMargin;
  color: @headerColor;
}
h3 {
  font-size: 1.5em;
  color: @headerColor;
  margin-top: @defaultMargin;
}
h2 + p,
h3 + p,
p + p {
  margin-top: @defaultMargin;
}
p + h3 {
  margin-top: @defaultMargin * 2;
}
h3 + p {
  margin-top: @defaultMargin / 2;
}
a {
  text-decoration: none;
  color: @linkColor;
  &:hover {
    text-decoration: underline;
  }
}
.backgroundHr {
  opacity: 1;
  height: 10px;
  background-color: darken(@backgroundColor, 3%)
  
}
hr {
  .backgroundHr;
  margin: @defaultMargin * 2;
  margin-bottom: @defaultMargin;
  display: block;
  border: none;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.container {
  margin: 0 auto;
  width: @width;
}
.column {
  display: inline-block;
  vertical-align: top;
}
.icon {
  text-decoration: none;
  color: @linkColor;
  font-size: (@fontSize * 2);
  &:hover {
    color: @hoverLinkColor;
  }
}
.menu {
  position: fixed;
  top: @defaultMargin * 4;
  left: @defaultMargin;
  width: (@width / 5) * 0.80;
}
.menu a {
  display: block;
  position: static;
  text-align: center;
}
.menu hr {
  margin: @defaultMargin / 4;
}
.post {
  .column;
  margin-bottom: (@defaultMargin * 2);
  width: @width;
  position: relative;
}
time {
  font-weight: 600;
  font-variant: small-caps;
  display: block;
  letter-spacing: 0.1em;
  text-align: right;
  margin-top: -20px;
}

