{% extends "layout.html" %}
{% block content %}
  <div class="home post">
    {% for post in posts %}
      <hr>
      <h2>
        <a href="/{{ post.slug }}">{{ post.title }}</a>
      </h2>
      <time>
        {{ post.when }}
      </time>
      {{ post.html }}
    {% endfor %}
  </div>
{% endblock %}