<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <title>xpto.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        {% block menu %}
          <h3>
            xpto.me &#9679; <a href="http://twitter.com/flavioatas">contato</a>
          </h3>
        {% endblock %}
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>